@import 'src/styles/_colors.scss';

.add-receipt-form-size {
  width: 50%;
  margin-top: 15px;
}

input.ng-touched.ng-invalid {
  border-color: $color-invalid-field;
}

textarea.ng-touched.ng-invalid {
  border-color: $color-invalid-field;
}

textarea {
  resize: none;
}

