<!-- modal window -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>{{showMsgInput}}</p>
    <button *ngIf="typeOfAction === ButtonActionEnum.SEND_RECIPE_FORM" type="button"
            class="btn btn-primary"
            (click)="confirm()">Ano
    </button>
    <button *ngIf="typeOfAction === ButtonActionEnum.RESET_RECIPE_FORM" type="button"
            class="btn btn-danger"
            (click)="confirmReset()">Ano
    </button>
    <button *ngIf="typeOfAction === ButtonActionEnum.DELETE_RECIPE" type="button"
            class="btn btn-danger"
            (click)="confirmDelete()">Ano
    </button>
    <button *ngIf="typeOfAction === ButtonActionEnum.MODIFY_RECIPE" type="button"
            class="btn btn-danger"
            (click)="confirmModify()">Ano
    </button>
    <button *ngIf="typeOfAction === ButtonActionEnum.REGISTER_USER" type="button"
            class="btn btn-primary"
            (click)="confirmRegister()">Ano
    </button>
    <button type="button" class="btn btn-secondary" (click)="decline()">Ne</button>
  </div>
</ng-template>
