@import 'src/styles/_colors.scss';

.footer {
  width: 100%;
  height: 60px;
  background-color: $color-footer-bg;
  display: flex;
  color: $color-footer-font;
  margin-top: 10px;
  font-size: 1em;
  padding-top: 8px;
}

.main-menu {
  width: 100%;
  height: 60px;
}
