<div class="container recipe-detail-size">
  <alert *ngIf="showNotLoggedMsg" type="danger" dismissOnTimeout="10000">{{ showNotLoggedMsgString }}
  </alert>
  <table class="table table-bordered" *ngIf="recipe">
    <thead>
    <tr>
      <th>
        Název receptu: {{recipe.name}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Kategorie: {{recipe.category}}</td>
    </tr>
    <tr>
      <td><img [src]="recipe.img" alt="obrázek receptu"></td>
    </tr>
    <tr>
      <td>Popis: {{recipe.content}}</td>
    </tr>
    <tr [hidden]="recipe.createdBy !== registeredUserLocalStorage">
      <td>
        <button class="btn btn-warning" routerLink="edit">Upravit</button>
        <button class="btn btn-danger float-right"
                (click)="openSharedModal(ButtonActionEnum.DELETE_RECIPE,MessagesConstants.DELETE_RECIPE)">Smazat
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<app-recipe-form-message
  [showMsgInput]="MessagesConstants.SEND_NEW_RECIPE_CONFIRM">
</app-recipe-form-message>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" color="#fff" type="square-jelly-box" [fullScreen]="true"><p
  style="color: white"> Provádím požadavek... </p>>
</ngx-spinner>
