<section>
  <div class="container-fluid">
    <img class="img-me" src="/assets/me.png" alt="">
    <h2 class="who-am-i">Who am I</h2>
    <div class="who-am-i-text">Thank you for reading this content regarding myself. So "who am
      I", this is the question :-). Well as for programming world I am interested in web
      development and this is where I am also targeting as for my future skills and knowledge.
    </div>
  </div>
</section>
<section>
  <div class="container-fluid about-me-section">
    <h3>Where did it begin?</h3>
    <div class="row">
      <div class="col-lg-9 about-me-section-left">In 2019 bank world become crazy about "agile"
        access to everything
        where this could be implemented and banks have started to transform. This huge change
        brought a lot of changes and one of them was that it put on table new offers regarding
        job change. <br/>
        This means...agile worl allowes you to jump to another really different position where
        you think could be better place for you to work and express yourself. So my dream has
        always was to become DEVELOPER or PROGRAMMER so I have applied to web development
        position and before interview started to learn basic about programming starting with JAVA.
        <br/>
        Well after couple of months I was being given by chance my dream to become true and my
        new contract held job title - DEVELOPER - "jupi ja jej" .. &#9786;
      </div>
      <div class="col-lg-3">
        <fa-icon [icon]="faCoffee"
                 [styles]="{'width': '70%', 'height': '70%'}"></fa-icon>
      </div>
    </div>
  </div>
</section>
<section>
  <img class="img-about-me" alt="" src="/assets/screen.png">
</section>
<section>
  <div class="container-fluid experience-section">
    <h3>What I have learned?</h3>
    <div class="row">
      <div class="col-lg-3">
        <fa-icon [icon]="faLaptopCode"
                 [styles]="{'width': '70%', 'height': '70%'}"></fa-icon>
      </div>
      <div class="col-lg-9">
        <ul>
          <li>Working within team of senior developers isn't always easy, specially for newbie
            junior developer but it helps you become more independent, forces you to ask, ask and
            ask and teaches you to be patient and tolerant.
          </li>
          <li>
            Git is not place for chatting or expressing you ideas, so your commit messages should
            be up to date with short but relevant info about your changes in your branch.
          </li>
          <li>
            Camel case is not the same as snake case or even pascal case so naming convention
            style should be kept as standard.
          </li>
          <li>
            Remember that null value or empty string should not be welcome friend in each API
          </li>
          <li>
            Debug, debug and debug and try to understand logic of application you are working on.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid target-section">
    <div class="row">
      <div class="col-lg-4">
        <h1>JAVA</h1>
      </div>
      <div class="col-lg-4">
        <h1>JavaScript</h1>
      </div>
      <div class="col-lg-4">
        <h1>TypeScript</h1>
      </div>
    </div>
  </div>
</section>





