<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="text-info about-up-top">Tento projekt vziká za účelem možnosti, mít své oblíbené recepty na jednom
        místě,
        dostupné odkudkoliv přes internet. Pravidlem je, že to slouží pouze pro soukromé účely a nikoliv pro komerční,
        či
        nelegální.
        Jako vývojáři počítáme s tím, že si uživatel recept vytvoří a uloží pod svůj login. Obsah každého uživatele je
        vyloženě soukromý a
        nemá k němu přístup nikdo jiný. Recepty, které se označí jako veřejné, mohou být přístupné dalším příhlášeným
        uživatelům.
        Ten kdo recept vytvoří, ho můžete také změnit, nebo smazat. Kopírování obsahu ze stránek, kde to není
        dovoleno,
        je
        zakázané.
      </div>
    </div>
    <div class="col-6 align-content-center">
      Image by <a
      href="https://pixabay.com/users/Didgeman-153208/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5137778">Thomas
      B.</a> from <a
      href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5137778">Pixabay</a>
      <div class="card-img">
        <img src="assets/field-5137778_640.jpg" alt="about us preview" width="100%" height="auto">
      </div>
    </div>
  </div>
</div>

