<h5 class="card-header">Přehled posledních přidaných receptů</h5>
<div class="receipt-list-empty" *ngIf="receipts && receipts.length == 0">Nebyl nalezen žádný recept</div>
<ul *ngFor="let receipt of receipts" class="receipt-list">
    <li class="text-monospace font-weight-bold">{{receipt.name}}</li>
    <li class="text-monospace">Kategorie: {{receipt.category}}</li>
    <br>
    <li><img [src]=receipt.img alt="foto"></li>
    <br>
    <li class="font-weight-light">{{receipt.content}}</li>
</ul>

