<div class="container add-recipe-form-size">
  <form [formGroup]="addNewRecipeForm" *ngIf="recipe && recipe.name">
    <div class="form-group">
      <label for="exampleFormControlInput1">Název receptu</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="name">
      <alert type="warning" *ngIf="addNewRecipeForm.get('name').touched
            &&addNewRecipeForm.get('name').invalid
            &&!addNewRecipeForm.get('name').hasError('maxlength')">
        <strong>Je nám líto</strong>, ale toto pole je povinné vyplnit.
      </alert>
      <alert type="warning"
             *ngIf="addNewRecipeForm.get('name').hasError('maxlength')">
        Maximální délka názvu může být <strong>{{this.maxLengthVarName}}</strong> znaků. Ve vašem
        textu jich je
        {{addNewRecipeForm.get('name').value.length}}
      </alert>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Kategorie</label>
      <select class="form-control" id="exampleFormControlSelect1" formControlName="category">
        <option></option>
        <option>S masem</option>
        <option>Bez masa</option>
        <option>Dezerty</option>
        <option>Svačiny</option>
        <option>Polévky</option>
      </select>
    </div>
    <div class="form-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="exampleFormControlFile1" formControlName="image"
               (change)="onSelectFile($event)" accept=".jpg,.jpeg,.png">
        <label for="exampleFormControlFile1" class="custom-file-label">{{this.filename}}</label>
        <alert type="danger" *ngIf="alertMaxSize">Maximální velikost obrázku může být 2Mb</alert>
        <alert type="danger" *ngIf="alertImageType">Vložený soubor není obrázek, vložte prosím ve formátu
          <strong> .jpg,.jpeg,.png"</strong>
        </alert>
        <alert type="warning"
               *ngIf="addNewRecipeForm.get('image').hasError('maxlength')">
          Maximální délka názvu může být <strong>{{this.maxLengthVarName}}</strong> znaků. Ve vašem
          názvu jich je {{this.filename.length}}
        </alert>
      </div>
    </div>
    <img [src]="imageBase64" height="250px" width="150" [hidden]="!imageBase64"
         alt="obrázek receptu"/>
    <button *ngIf="imageBase64" class="btn btn-dark align-bottom" (click)="onDeleteImage()">Smazat obrázek</button>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Popis receptu</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"
                formControlName="content"></textarea>
      <alert type="warning"
             *ngIf="addNewRecipeForm.get('content').touched
                   &&addNewRecipeForm.get('content').invalid
                   &&!addNewRecipeForm.get('content').hasError('maxlength')">
        <strong>Je nám líto</strong>, ale toto pole je povinné vyplnit.
      </alert>
      <alert type="warning"
             *ngIf="addNewRecipeForm.get('content').hasError('maxlength')">
        Maximální délka popisu může být <strong>{{this.maxLengthVarContent}}</strong> znaků. Ve
        vašem textu jich
        je
        {{addNewRecipeForm.get('content').value.length}}
      </alert>
    </div>
    <!--    <button class="btn btn-primary" [disabled]="!addNewRecipeForm.valid" (click)="openModal(template)">Uložit recept-->
    <!--    </button>-->
    <button class="btn btn-primary" [disabled]="!addNewRecipeForm.valid"
            (click)="openSharedModal(ButtonActionEnum.UPDATED_RECIPE_FORM, MessagesConstants.UPDATE_RECIPE_FORM)">
      Uložit recept
    </button>
    <button class="btn btn-dark" (click)="returnBack()">Zpět</button>
    <button class="btn btn-danger float-right"
            (click)="openSharedModal(ButtonActionEnum.RESET_RECIPE_FORM, MessagesConstants.RESET_RECIPE_FORM)">
      Vymazat
      formulář
    </button>
  </form>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" color="#fff" type="square-jelly-box" [fullScreen]="true"><p
  style="color: white"> Načítám recept... </p>>
</ngx-spinner>

<!-- modal window -->
<!--<ng-template #template>-->
<!--  <div class="modal-body text-center">-->
<!--    <p>{{MessagesConstants.SEND_NEW_RECIPE_CONFIRM}}</p>-->
<!--    <button type="button" class="btn btn-primary" (click)="confirm()">Ano</button>-->
<!--    <button type="button" class="btn btn-default" (click)="decline()">Ne</button>-->
<!--  </div>-->
<!--</ng-template>-->
<app-recipe-form-message
  [showMsgInput]="MessagesConstants.SEND_NEW_RECIPE_CONFIRM">
</app-recipe-form-message>
