<nav class="navbar navbar-expand-lg navbar-dark bg-primary main-menu">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Recepty všech</a>
      </li>
      <li class="nav-item" *ngIf="logged">
        <a class="nav-link" routerLink="recipes/list" routerLinkActive="active">Moje recepty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about-us" routerLinkActive="active">O nás</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="report" routerLinkActive="active">Reportík</a>
      </li>
    </ul>
    <div *ngIf="logged" class="user-text">Vítej uživateli
      <b>{{this.userService.user?.name}}</b></div>
    <div *ngIf="!logged" class="user-text blink">Kuchaři, nejsi přihlášen.</div>
    <a class="nav-link float-right text-white shake" routerLink="login"
       routerLinkActive="active" (click)="clearToken()">{{logged ? "Logout" : "Login"}}</a>
    <a class="nav-link float-right text-white shake" routerLink="register"
       routerLinkActive="active" *ngIf="!logged">Registrovat</a>
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
             (ngModelChange)="postSearchText($event)" [ngModel]="searchText">
    </div>
  </div>
</nav>

