<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Recepty všech</a>
      </li>
      <li class="nav-item" *ngIf="logged">
        <a class="nav-link" routerLink="recipes/list" routerLinkActive="active">Moje recepty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about-us" routerLinkActive="active">O nás</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="report" routerLinkActive="active">Reportík</a>
      </li>
    </ul>
    <div *ngIf="logged" class="user-text">Vítej uživateli
      <b>{{this.userService.user?.name}}</b></div>
    <div *ngIf="!logged" class="user-text blink">Kuchaři, nejsi přihlášen.</div>
    <a class="nav-link float-sm-left text-white shake" routerLink="login"
       routerLinkActive="active" (click)="clearToken()">{{logged ? "Logout" : "Login"}}</a>
    <a class="nav-link float-sm-left text-white shake" routerLink="register"
       routerLinkActive="active" *ngIf="!logged">Registrovat</a>
    <!--    <span class="form-inline my-2 my-lg-0">-->
    <input class="form-control" [ngStyle]="{'width':'40%'}" type="search" placeholder="Hledat..."
           aria-label="Search"
           (ngModelChange)="postSearchText($event)" [ngModel]="searchText">
    <!--    </span>-->
  </div>
</nav>
