<nav class="navbar navbar-expand-lg navbar-dark bg-primary main-menu">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Recepty všech</a>
      </li>
      <li class="nav-item" *ngIf="logged">
        <a class="nav-link" routerLink="recipes/list" routerLinkActive="active">Moje recepty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about-us" routerLinkActive="active">O nás</a>
      </li>
    </ul>
    <div *ngIf="logged" class="user-text">Vítej uživateli
      <b>{{this.userService.user?.name}}</b></div>
    <div *ngIf="!logged" class="user-text blink">Kuchaři, nejsi přihlášen.</div>
    <a class="nav-link float-right text-white shake" routerLink="login"
       routerLinkActive="active" (click)="clearToken()">{{logged ? "Logout" : "Login"}}</a>
    <form [formGroup]="searchForm" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

